.header {
  text-align: center;
  line-height: 0%;
}

.parent-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.flip-class {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  row-gap: 50px;
}
.container {
  position: relative;
  height: 200px;
  width: 200px;
  z-index: 10;
}
.container div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  place-items: center;
  color: white;
  font-weight: 800;
  transition: 0.5s;
}

.front,
.back {
  border-radius: 10px;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00bfff;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
  opacity: 0;
}
.container:hover .front {
  transform: rotateY(180deg);
  transition: 0.5s;
  opacity: 0;
}
.container:hover .back {
  transform: rotateY(0deg);
  transition: 0.5s;
  opacity: 1;
}

.images {
  height: 6rem;
  width: 7rem;
}

.front p {
  color: #0047ab;
}

.back p {
  padding-top: 60px;
  text-align: center;
}

#id {
  height: 5.5rem;
  width: 9rem;
}

@media screen and (max-width: 800px) {
  .flip-class {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    height: 100px;
    width: 100px;
    margin: 20px auto;
  }
  .images {
    height: 2rem;
    width: 3rem;
  }
  .front p, .back p {
    font-size: 10px;
  }
  #node {
    height: 3rem;
    width: 5rem;
  }
  .back p {
     padding-top: 35px;
  }
}
