.navicons {
  position: fixed;
  z-index: 200;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0 20px #1877F2;
  height: 60px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.icon {
  color: #0070BB;
  padding: 7px;
}

.icon:hover {
  background-image: linear-gradient(to top, #1f75fe, #00ced1);
  border-radius: 10px;
  color: #87ceeb;
}
